.Header {
  flex-basis: 30vh;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Header-input {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
  border-radius: 15px;
  border-style: hidden;
}

.temp {
  font-size: 2rem;
}

.time {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}
